* {
    margin: 0;
    padding: 0;
}
body{
    background-color:  #626c66;
    text-align: center;
}
.container{
    height: 70vh;
     display: flex;
     justify-content: center;
        align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
      justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0,0,0,0.3);
  font-size: 8vmin;
  color: #220c10;
  background-color: #c7ac92;
}
#reset-btn,#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #220c10;
    color: #626c66;
    border-radius: 1rem;
    border: none;
}
.msg{
    font-size: 3.5vmin;
    padding: 6px;
}
.hide {
  display: none;
}